<link href="~/Content/css/connexion.css" rel="stylesheet" />


<h2 style="color:red;">@ViewBag.ConnexionErreur</h2>
<div class="container container_form">
    <h2>Bienvenue sur Drater</h2>
    <form action="" method="post" style="margin-bottom: 15px;">
        <input name="Pseudo" placeholder="Entrez votre pseudo" style="text-align: center;" />
        <input name="MDP" placeholder="Entrez votre mdp" style="text-align: center;" />
        <button class="btn waves-effect waves-light" type="submit">Connexion<i class="material-icons right">send</i></button>
    </form>
    <a href="/Eleve/Create">Creer votre compte ? ici</a>
</div>

